<template>
  <v-layout fill-height>
    <v-row wrap>
      <v-col class="col-12 col-sm-3">
        <SkillNavigation />
      </v-col>
      <v-col class="col-12 col-sm-9">
        <v-card>
          <SkillPage :title="title" :items="items" />
        </v-card>
      </v-col>
    </v-row>
  </v-layout>
</template>

<script>
import SkillNavigation from './SkillNavigation'
import SkillPage from './SkillPage'

export default {
  components: {
    SkillNavigation,
    SkillPage
  }
}
</script>
