<template>
  <v-app>
    <template v-if="isSignedIn">
      <v-layout fill-height column>
        <ImageAndTabs />
        <nuxt />
      </v-layout>
    </template>
  </v-app>
</template>

<script>
import ImageAndTabs from '@/components/layouts/ImageAndTabs'

export default {
  components: {
    ImageAndTabs
  },
  computed: {
    isSignedIn() {
      return this.$store.state.isSignedIn
    }
  }
}
</script>
