<template>
  <v-card width="100%">
    <v-container>
      <v-card-title class="display-2 my-3">{{ title }}</v-card-title>
      <!-- 大枠 -->
      <v-card v-for="(item, i) in items" :key="i">
        <v-card-title
          style="background-color: #039BE5;"
          class="my-3 py-8 display-1 white--text"
          >{{ item.title }}
        </v-card-title>
        <!-- 基本情報 -->
        <v-row class="body-2">
          <v-layout justify-center wrap>
            <v-col cols="12" sm="5">
              <v-img :src="item.image" />
            </v-col>
            <v-col cols="12" sm="6">
              <v-container>
                <v-row v-for="(info, j) in item.basicInfo" :key="i + '-' + j">
                  <v-col cols="3" class="grey lighten-2" dark>
                    <v-layout justify-end>
                      {{ info.title }}
                    </v-layout>
                  </v-col>
                  <v-col cols="9">
                    <v-layout justify-start>
                      {{ info.text }}
                    </v-layout>
                  </v-col>
                </v-row>
              </v-container>
            </v-col>
          </v-layout>
        </v-row>
        <v-divider />
        <!--概要-->
        <v-container class="my-4">
          <v-card-title class="headline">
            {{ item.jobOverview.title }}
          </v-card-title>
          <v-card-text>
            {{ item.jobOverview.text }}
          </v-card-text>
        </v-container>
        <!-- 詳細 -->
        <v-container class="my-4">
          <v-card-title class="headline">
            {{ item.jobDetail.title }}
          </v-card-title>
          <template v-for="(detail, j) in item.jobDetail.items">
            <v-card-title :key="detail.title + j + 'title'" class="title">
              {{ detail.title }}
            </v-card-title>
            <v-card-text :key="detail.title + j + 'text'">
              {{ detail.text }}
            </v-card-text>
          </template>
        </v-container>
        <!-- 担当したプロジェクト -->
        <v-container v-if="item.projects" class="my-4">
          <v-card-title class="headline">
            {{ item.projects.title }}
          </v-card-title>
          <v-list-item
            v-for="(project, j) in item.projects.items"
            :key="'project-' + j"
            three-line
          >
            <v-list-item-content>
              <v-list-item-title>{{ project.title }}</v-list-item-title>
              <v-list-item-subtitle class="caption">
                {{ project.period }}
              </v-list-item-subtitle>
              <v-list-item-subtitle class="body-2">
                {{ project.text }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-container>
        <!--身についたスキル-->
        <v-container class="my-4">
          <v-card-title class="headline">
            {{ item.obtainedSkills.title }}
          </v-card-title>
          <v-card-text v-html="item.obtainedSkills.text" />
        </v-container>
      </v-card>
    </v-container>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    title: '業務経験',
    items: [
      {
        title: '大手通信事業者 グローバル回線保守',
        image: require('@/assets/images/work_experience_01.jpg'),
        basicInfo: [
          {
            title: '社名',
            text: '株式会社アイティ・イット'
          },
          {
            title: '在籍期間',
            text: '2013年5月~2015年9月'
          },
          {
            title: '業種',
            text: '通信業'
          },
          {
            title: '就業形態',
            text: 'システムエンジニアリングサービス'
          }
        ],
        jobOverview: {
          title: '概要',
          text:
            '某大手通信事業者のグローバルネットワークオペレーションセンター(通称GNOC)に常駐し、 グローバルIP-VPN回線の故障対応、およびカスタマーサポート業務に従事していました。'
        },
        jobDetail: {
          title: '業務内容',
          items: [
            {
              title: '顧客対応',
              text:
                '故障対応進捗連絡(電話およびメール), クレーム対応, 各種問い合わせ対応など'
            },
            {
              title: '故障対応',
              text:
                'アラート監視、故障一次切り分け, 故障対応依頼(海外通信事業者、海外法人など), 故障対応チケット進捗管理, 適時技術サポート, エスカレーション, 折衝対応'
            },
            {
              title: 'その他',
              text: '依頼書に基づくルータ設定変更, 新人OJT'
            }
          ]
        },
        obtainedSkills: {
          title: '身についたスキル等',
          text:
            '<p>故障対応は件数が多く、迅速で的確な行動が求められたため、スピード感重視で仕事を進める必要がありました。複数件の故障を一人で対応しなければならない場面もあり、それぞれ回線種別、報告先や対応依頼先が異なるため、マルチタスクで仕事を進める力も身につきました。<br>顧客対応ではお客様からの苦情を真摯に受け止めつつ、適切な説明、謝罪を伝える必要がありました。相手の必要な情報を汲み取り、的確かつ丁寧にコミュニケーションを行う力が身につきました。<br>業務の50%以上が海外向けの故障対応依頼、原因調査依頼であったため、業務で英語を用いる機会は毎日のように 発生しておりました。特にアジア諸国とのやりとりが多く、英語で的確な業務コミュニケーションを遂行する力を養うことができました。</p>'
        }
      },
      {
        title: '銀行システム基盤 プロジェクトマネジメントオフィス（PMO）',
        image: require('@/assets/images/work_experience_02.jpg'),
        basicInfo: [
          {
            title: '社名',
            text: 'GDIコミュニケーションズ株式会社'
          },
          {
            title: '在籍期間',
            text: '2015年10月~2017年5月'
          },
          {
            title: '業種',
            text: '金融業'
          },
          {
            title: '就業形態',
            text: 'システムエンジニアリングサービス'
          }
        ],
        jobOverview: {
          title: '概要',
          text:
            '某メガバンク システム部の基盤チームにビジネスパートナーとして常駐し、 メール基盤、およびホームページシステム基盤関連の各種改良案件のマネジメントに従事していました。'
        },
        jobDetail: {
          title: '業務内容',
          items: [
            {
              title: '基礎検討フェーズ',
              text:
                '要件検討、スケジューリング、費用調整、立ち上げ報告、プロジェクト計画書の作成'
            },
            {
              title: '設計フェーズ',
              text:
                'ベンダ設計資料レビュー、設計資料修正、各種計画(テスト、移行、運用)'
            },
            {
              title: 'テストフェーズ',
              text: '計画に基づくテスト推進、テスト結果報告とリリース判定'
            },
            {
              title: '移行フェーズ',
              text: '計画に基づく移行作業推進'
            },
            {
              title: '運用フェーズ',
              text: '定常的なメンテナンス作業等(性能統計等)、障害対応'
            }
          ]
        },
        projects: {
          title: '担当したプロジェクト',
          items: [
            {
              title: '業務メール基盤システム 送信元ドメイン認証追加対応',
              period: '2015/10〜2016/1（規模:5〜10人月）',
              text:
                'ダイレクトバンキング等の取引通知メールを送信するEメールゲートウェイシステムに対し、DNSを利用したSPF認証、DKIM認証機能を追加する対応。主に移行フェーズにおける関係システム間調整やベンダコントロール等を実施。(米国との英語による調整含む)'
            },
            {
              title: '業務メール基盤システム 検索機能改善',
              period: '2015/10〜2016/5（規模:5〜10人月）',
              text:
                '同上のEメールゲートウェイシステムに対し、メール送受信 履歴機能を改善するため、要件検討、ベンダ見積もり取得、 設計、テスト、移行まで一貫してPMOとしてプロジェクト推進を担当。 文字列条件抽出、結合、結果ファイル転送等を行うシェルスクリプトの設計開発、移行作業を推進。 2016年5月移行完了。'
            },
            {
              title: '業務メール基盤システム 可用性向上',
              period: '2016/5〜2017/2（規模:10〜15人月）',
              text:
                'ダイレクトバンキング等の取引通知メールを送信するEメールゲートウェイシステムに対し、仮想化基盤を追加し障害時の業務継続性を上げる案件。要件定義、設計、ベンダ見積もり取得、 設計、テスト、移行まで一貫してPMOとしてプロジェクト推進を担当。2017年2月移行完了。'
            },
            {
              title: 'ホームページシステム 定期セキュリティパッチ',
              period: '2015/11〜2015/6（規模:10〜15人月）',
              text:
                '銀行の各種システムの窓口として稼働しているホームページシステムに対し、定期セキュリティパッチ適用を行う案件。基礎検討として適用対象パッチの洗い出し、影響調査、ベン゙ダー見積もり取得から、テスト計画、移行計画の策定、関係システム間調整等実施。2016年6月移行(パッチ適用)完了。'
            },
            {
              title: '各種メンテナンス対応 及び関係システム対応',
              period: '規模:0~10人月程度',
              text:
                '上記以外のEメールゲートウェイシステム、ホームページシステムに関するメンテナンス系作業、および関係システムの開発に付随した各種小口開発案件の対応。案件対応の場合は、要件検討〜移行まで一貫してプロジェクト管理を担当。'
            }
          ]
        },
        obtainedSkills: {
          title: '身についたスキル等',
          text:
            '<p>基本的に各案件の全工程を1~2人で遂行していく体制のため、一つの案件を100%自分の裁量で責任をもって遂行していく経験を、複数案件で積むことができました。<br>技術知識がなければ案件を管理・推進していくことができないため、案件を進めるうえで知識が不足している点は徹底的に調べ、関係者と円滑なコミュニケーションを取れるよう心がけていました。また、コミュニケーションツールとして説明資料を作る機会が多くあり、資料を作るうえでは「何が言いたい資料なのか」「数秒でざっと内容が把握できるか」を心がけておりました。<br>開発ベンダーをコントロールする上では「公平性」を重視し、こちらが発注側といえど、相手を尊重したコミュニケーションを心がけ、信頼されるための努力をしていました。</p>'
        }
      },
      {
        title: 'フルスタック製品開発エンジニア（現職）',
        image: require('@/assets/images/work_experience_03.jpg'),
        basicInfo: [
          {
            title: '社名',
            text: '沖縄クロス・ヘッド株式会社'
          },
          {
            title: '在籍期間',
            text: '2017年6月~'
          },
          {
            title: '業種',
            text: '情報通信・ソフトウェアサービス'
          },
          {
            title: '就業形態',
            text: '開発エンジニア'
          }
        ],
        jobOverview: {
          title: '概要',
          text:
            '自社開発のNAS（Network Attached Storage）製品「nas2cloud」の機能開発と運用、「nas2cloudコンボ」の設計、開発、テスト、運用を担当しております。'
        },
        jobDetail: {
          title: '業務内容',
          items: [
            {
              title: '製品保守',
              text:
                '既存製品のトラブル対応、不具合修正等。トラブルシュート、コーディング、テスト、リリース。'
            },
            {
              title: '製品開発',
              text:
                '既存製品の追加機能開発、新製品の開発。要件定義、設計、コーディング、テスト、リリース。'
            },
            {
              title: 'その他',
              text:
                '公的助成金関連の資料作成および成果報告、商材の営業先同行とフォロー、商材のPRプレゼンテーション等'
            }
          ]
        },
        projects: {
          title: '担当したプロジェクト',
          items: [
            {
              title: 'nas2cloud 新モデル開発',
              period: '2017/6〜2017/12',
              text:
                '既存のハードウェア終売に伴う、新ハードウェアでの製品の検証および追加開発。主に検証時のトラブルのハンドリング、および追加機能についてのコーディング、およびチーム運用。'
            },
            {
              title: '沖縄アジアIT助成金対応',
              period: '2018/4〜2019/3',
              text:
                '沖縄県の助成金付与に伴う、PM関連資料および設計資料等の作成と報告、成果報告会でのプレゼン等担当。'
            },
            {
              title: 'nas2cloudコンボ開発',
              period: '2018/4〜2019/1',
              text:
                '既存商材のリビルドによる新しい商材の開発。要件検討、設計、実装、テスト、リリースまでを全て3人のチームで担当し、自身はチームマネジメントとクラウドシステムの実装を主に担当。'
            },
            {
              title: 'nas2cloudコンボ 継続開発',
              period: '2019/1〜',
              text:
                'リリース後の追加機能開発。要件定義〜リリースまでを自身1名で担当し、加えて販売後の電話、メールによるサポートを2名のチームで担当。障害通知機能、他ホストとの連携機能、Active Directory連携機能、出力ログ表示機能、プロキシ対応機能、ならびに製品不具合の改修を行う。'
            }
          ]
        },
        obtainedSkills: {
          title: '身についたスキル等',
          text:
            '<p>初めて業務で開発に従事しましたが、これまでの保守、サポートの経験や、プロジェクト管理の経験、その他独習で習得した各種スキルがうまく活き、高い開発成果を上げることができています。担当範囲は物理レイヤからフロントエンドに及ぶ全ての範囲ですが、比較的自由に設計開発を推進できるため、興味のある言語や取り入れてみたい技術などを実践的に製品に取り入れ、フルスタックで広く経験を積むことができました。<br>既存のプログラムのコーディングや設計がかなりずさんな部分が多く、ソースコードを読み解いてトラブルシュートを行う技術が身につくとともに、運用を意識したコーディングの重要性をよく学ぶことができました。自身で設計開発とコーディングを行なった箇所については、継続開発時も他エンジニアが時間をかけず内容を理解できる書き方をする意識をしていました。<br>公的助成金対応では、WBSの作成や予算と実績の計上など高度なプロジェクト管理スキルが求められ、以前の職場での資料作成技術に加えて、さらにきめの細かい管理資料の作成技術を身につけることができました。<br>本職で初めて部下を持つことになりましたが、思うように部下を動かせないことも多く、部下をマネジメントする難しさを学ぶこともできました。マネジメントについては、どのようなマネジメントがいい組織を育てるのか、今後さらに学び実践していきたい分野でもあります。</p>'
        }
      }
    ]
  })
}
</script>
