<template>
  <v-container>
    <v-container class="section top">
      <v-row class="display-2">
        {{ about.title }}
      </v-row>
      <v-row>
        <v-layout align-center>
          <v-col xs6>
            <v-container>
              <v-card-text v-html="about.description" />
            </v-container>
          </v-col>
          <v-col xs6>
            <v-layout justify-center>
              <v-avatar size="240">
                <v-img :src="require('@/assets/images/shoumei_shashin.jpg')" />
              </v-avatar>
            </v-layout>
          </v-col>
        </v-layout>
      </v-row>
    </v-container>
    <v-container class="section">
      <v-row class="display-2 mb-10">
        {{ introduction.title }}
      </v-row>
      <v-container>
        <v-row v-for="(item, i) in introduction.items" :key="i" class="my-2">
          <v-layout align-center>
            <v-col cols="2">
              <strong>{{ item.title }}</strong>
            </v-col>
            <v-col cols="8">
              {{ item.text }}
            </v-col>
          </v-layout>
        </v-row>
      </v-container>
    </v-container>
    <v-container mt-5>
      <v-alert
        icon="fab fa-gitlab"
        border="top"
        colored-border
        color="warning"
        elevation="2"
      >
        {{ git.description }}<br />
        <a :href="git.url" target=":blank">{{ git.url }}</a>
      </v-alert>
    </v-container>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    about: {
      title: 'このページについて',
      description:
        '<p>採用ご担当者様に、私のことをより詳しく知っていただくため、これまでの業務経歴とスキルについてこのページに纏めました。面接の場で全てをお話しすることが難しい場合も多いため、本ページの情報を採用のための材料にしていただけますと幸いです。</p><p>今回のご縁が良いものとなることを、心から願っております。</p>'
    },
    introduction: {
      title: 'プロフィール',
      items: [
        {
          title: '氏名',
          text: '新川 大（しんかわ だい）'
        },
        {
          title: '自己紹介',
          text:
            '福岡県 北九州市出身。東京農工大学大学院 国際環境農学専攻卒。英語に携われてなんとなくカッコイイ、という理由から東京に進学し国際協力、地域開発学を専攻していたが、留学先のカナダで本気で自分の人生を考えて生きている人々と出逢う中で、自分の本当にやりたいことを仕事にしたいと思うようになる。卒業後一転してIT業界に進み、留学先で学んだ英語力を活かせる通信事業者の国際回線保守からキャリアをスタート。約2年の勤務ののち、大手銀行のインフラ管理PMOを約2年経験。その後、娘の誕生をきっかけに妻の故郷である沖縄に移住。フルスタックの開発エンジニアとして勤続3年目となる。中頭郡読谷村在住。'
        },
        {
          title: '経験',
          text:
            'アプリケーション開発（主にPython, JavaScript）, IT基盤設計構築（VMWare,AWS等仮想基盤）, DB設計構築（ORM利用）, PM業務（要件定義, スケジューリング, 進捗管理, 資料作成等）, 顧客サポート（電話, メール）'
        },
        {
          title: 'キャリア志向',
          text:
            '引き続きフルスタックでソフトウェア開発に携わっていきたいですが、「ITを使って新しいサービスを作りたい」という気持ちが強く、とりわけBtoC系のサービスに携わりたいという気持ちを強く持っています。起業志向があり、新しいサービスを世の中に出していきたい、資金調達や顧客獲得、組織管理のやり方について実践的に経験値を積みたいという気持ちがあります。'
        },
        {
          title: '趣味',
          text: 'IT関連の独学、食べ歩き、料理、お酒、旅行、DIY'
        }
      ]
    },
    git: {
      title: 'プロジェクトソースコード',
      description:
        '本ページは "Nuxt.js" および "Firebase" を用いて構築・ホスティングされており、下記からソースコードを入手できます。',
      url: 'https://gitlab.com/daishinkawa/skillsheet'
    }
  })
}
</script>

<style scoped>
.section {
  margin: 100px;
}
</style>
