<template>
  <v-card>
    <v-navigation-drawer permanent width="100%">
      <v-list-item to="/skill/">
        <v-list-item-content>
          <v-list-item-title class="title">
            スキルシート
          </v-list-item-title>
          <v-list-item-subtitle>
            INDEX
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider />

      <template v-for="(parent, i) in menus">
        <v-list-item :key="'parent-' + i" :class="{ 'mt-2': i !== '1' }">
          <v-list-item-content>
            <v-list-item-title class="headline">
              {{ parent.title }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list :key="i" dense nav>
          <v-list-item
            v-for="(child, j) in parent.children"
            :key="'child-' + j"
            link
            :to="child.to"
            class="my-2"
          >
            <v-list-item-icon>
              <v-icon>{{ child.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ child.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-divider :key="i" />
      </template>
    </v-navigation-drawer>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    menus: [
      {
        title: 'ITスキル',
        icon: 'fas fa-keyboard',
        children: [
          {
            title: 'フロントエンド',
            icon: 'fas fa-file-code',
            to: '/skill/frontend/'
          },
          {
            title: 'バックエンド',
            icon: 'fab fa-python',
            to: '/skill/backend/'
          },
          {
            title: 'インフラ',
            icon: 'fas fa-network-wired',
            to: '/skill/infra/'
          },
          {
            title: 'その他開発スキル',
            icon: 'fas fa-laptop-code',
            to: '/skill/otherIt/'
          }
        ]
      },
      {
        title: '業務スキル',
        icon: 'fas fa-briefcase',
        children: [
          {
            title: '業務スキル',
            icon: 'fas fa-user-tie',
            to: '/skill/business/'
          }
        ]
      }
    ]
  }),
  methods: {
    getTabColor(path) {
      if (this.$nuxt.$route.path === path) {
      }
    }
  }
}
</script>
