<template>
  <v-container>
    <div class="display-1 ma-4 mb-10">
      {{ title }}
    </div>

    <v-card flat outlined>
      <v-container>
        <template v-for="(item, i) in items">
          <template v-if="Number(i) % 2 === 0">
            <v-card-title
              :key="i"
              class="headline"
              :class="{ 'mt-5': i !== 0 }"
            >
              {{ item.title }}
            </v-card-title>
            <v-row :key="i" class="mb-10" wrap>
              <v-col class="col-12 col-md-6">
                <template v-for="(label, j) in item.data.labels">
                  <v-card-title :key="[i, j].join('-')" class="title">
                    {{ label }}
                  </v-card-title>
                  <v-card-text :key="[i, j].join('-')">
                    {{ item.data.descriptions[j] }}</v-card-text
                  >
                </template>
              </v-col>
              <v-col class="col-12 col-md-6">
                <div>
                  <SkillBarChart
                    v-if="item.chartType === 'HorizontalBar'"
                    :labels="item.data.labels"
                    :datasets="item.data.datasets"
                    :styles="chartStyle"
                  />
                  <SkillDoughnutChart
                    v-else-if="item.chartType === 'Doughnut'"
                    :labels="item.data.labels"
                    :datasets="item.data.datasets"
                    :styles="chartStyle"
                  />
                  <SkillRadarChart
                    v-else-if="item.chartType === 'Radar'"
                    :labels="item.data.labels"
                    :datasets="item.data.datasets"
                    :styles="chartStyle"
                  />
                </div>
              </v-col>
            </v-row>
          </template>

          <template v-else>
            <v-card-title :key="i" class="headline mt-5">
              {{ item.title }}
            </v-card-title>
            <v-row :key="i" class="mb-10" wrap>
              <v-col class="col-12 col-md-6">
                <div width="320px">
                  <SkillBarChart
                    v-if="item.chartType === 'HorizontalBar'"
                    :labels="item.data.labels"
                    :datasets="item.data.datasets"
                    :styles="chartStyle"
                  />
                  <SkillDoughnutChart
                    v-else-if="item.chartType === 'Doughnut'"
                    :labels="item.data.labels"
                    :datasets="item.data.datasets"
                    :styles="chartStyle"
                  />
                  <SkillRadarChart
                    v-else-if="item.chartType === 'Radar'"
                    :labels="item.data.labels"
                    :datasets="item.data.datasets"
                    :styles="chartStyle"
                  />
                </div>
              </v-col>
              <v-col class="col-12 col-md-6">
                <template v-for="(label, j) in item.data.labels">
                  <v-card-title :key="[i, j].join('-')" class="title">
                    {{ label }}
                  </v-card-title>
                  <v-card-text :key="[i, j].join('-')">
                    {{ item.data.descriptions[j] }}</v-card-text
                  >
                </template>
              </v-col>
            </v-row>
          </template>

          <v-divider v-if="i !== items.length - 1" :key="i" />
        </template>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
import SkillBarChart from './charts/SkillBarChart'
import SkillDoughnutChart from './charts/SkillDoughnutChart'
import SkillRadarChart from './charts/SkillRadarChart'

export default {
  components: {
    SkillBarChart,
    SkillDoughnutChart,
    SkillRadarChart
  },
  props: {
    title: {
      type: String,
      default: () => {
        ''
      }
    },
    items: {
      type: Array,
      default: () => [
        {
          title: '',
          children: []
        }
      ]
    }
  },
  computed: {
    chartStyle() {
      return this.$vuetify.breakpoint.name === 'xs' ? 'width: 320px' : null
    }
  }
}
</script>

<style scoped>
canvas {
  width: 320px;
}
</style>
