<template>
  <div height="600px">
    <v-img
      :src="require('@/assets/images/top.jpg')"
      :max-height="coverPicHeight"
    >
    </v-img>

    <v-tabs dark icons-and-text background-color="indigo accent-3">
      <v-row>
        <v-layout align-center justify-center>
          <template v-for="menu in menus">
            <v-col :key="menu.index" cols="2">
              <v-layout :key="menu.index" justify-center>
                <v-tab :key="menu.index" :to="menu.to">
                  <span class="hidden-sm-and-down mt-1">
                    {{ menu.title }}
                  </span>

                  <v-icon size="30">
                    {{ menu.icon }}
                  </v-icon>
                </v-tab>
              </v-layout>
            </v-col>
          </template>
        </v-layout>
      </v-row>
    </v-tabs>
  </div>
</template>

<script>
export default {
  data: () => ({
    menus: [
      {
        title: 'ホーム',
        to: '/',
        icon: 'fas fa-home'
      },
      {
        title: '業務経歴',
        to: '/work_experience/',
        icon: 'fas fa-briefcase'
      },
      {
        title: 'スキルシート',
        to: '/skill/',
        icon: 'fas fa-keyboard'
      },
      {
        title: '資格',
        to: '/certificates/',
        icon: 'fas fa-certificate'
      }
    ]
  }),
  computed: {
    coverPicHeight() {
      if (this.$vuetify.breakpoint.smAndUp) {
        return '400px'
      } else {
        return '600px'
      }
    }
  },
  methods: {
    jump(to) {
      this.$router.push({ name: to })
    }
  }
}
</script>
