<template>
  <v-container>
    <v-row class="mt-6">
      <v-layout justify-center>
        <v-col class="col-8">
          <v-row class="display-1 my-6">
            IT系資格
          </v-row>
          <template v-for="item in certificates.it">
            <v-row :key="item.index">
              <v-col cols="10">
                {{ item.name }}
              </v-col>
              <v-col cols="2"> {{ item.year }}年 </v-col>
            </v-row>
          </template>
        </v-col>
      </v-layout>
    </v-row>
    <v-divider class="my-8" />
    <v-row>
      <v-layout justify-center>
        <v-col class="col-8">
          <v-row class="display-1 my-6">
            その他資格
          </v-row>
          <template v-for="item in certificates.other">
            <v-row :key="item.index">
              <v-col cols="10">
                {{ item.name }}
              </v-col>
              <v-col cols="2"> {{ item.year }}年 </v-col>
            </v-row>
          </template>
        </v-col>
      </v-layout>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    certificates: {
      other: [
        {
          name: '普通自動車運転免許',
          year: 2006
        },
        {
          name: '大型二輪自動車運転免許',
          year: 2015
        },
        {
          name: 'メンタルヘルスマネジメント検定 II種 ラインケアコース',
          year: 2019
        }
      ],
      it: [
        {
          name: 'Cisco Certified Network Associate',
          year: 2013
        },
        {
          name: 'IPA情報処理推進機構 応用情報技術者',
          year: 2014
        },
        {
          name: 'Cisco Certified Network Professional (Switching/Routing)',
          year: 2015
        },
        {
          name: 'AWS Solutions Architect Associate',
          year: 2016
        },
        {
          name: '全日本能率連盟登録資格 Web検定 Webディレクター',
          year: 2016
        }
      ]
    }
  })
}
</script>
